<div class="row">
  <div class="col-md-12">

    <h1>Finding The Hipsterest Match For You!</h1>

    <div class="progress">
      <div class="progress-bar progress-bar-striped active"
        role="progressbar" aria-valuenow="{{progressWidth}}"
        aria-valuemin="0" aria-valuemax="100"
        style="width: {{progressWidth}}%">
        <span class="sr-only">{{progressWidth}}% Complete</span>
      </div>
    </div>

  </div>
</div>
